/* This defines styles and classes used in the book */
@font-face {
font-family: JosefinSans;
font-style: normal;
font-weight: normal;
src:url("JosefinSans-Regular.ttf");
}
@font-face {
font-family: JosefinSans;
font-style: normal;
font-weight: bold;
src:url("JosefinSans-Bold.ttf");
}
@font-face {
font-family: JosefinSans;
font-style: italic;
font-weight: normal;
src:url("JosefinSans-Italic.ttf");
}
@font-face {
font-family: JosefinSans;
font-style: italic;
font-weight: bold;
src:url("JosefinSans-BoldItalic.ttf");
}

@font-face {
font-family: Garamond;
font-style: normal;
font-weight: normal;
src:url("EBGaramond12-Regular.ttf");
}
@font-face {
font-family: Garamond;
font-style: normal;
font-weight: bold;
src:url("EBGaramond08-Regular.ttf");
}
@font-face {
font-family: Garamond;
font-style: italic;
font-weight: normal;
src:url("EBGaramond12-Italic.ttf");
}
@font-face {
font-family: Garamond;
font-style: italic;
font-weight: bold;
src:url("EBGaramond08-Italic.ttf");
}

body { margin: 5%; text-align: justify; font-size: medium; font-family: "JosefinSans"; }
code { font-family: monospace; }
h1 { text-align: left; font-family: "Garamond"; color: rgb(0,150,136); }
h2 { text-align: left; font-family: "Garamond"; color: rgb(0,150,136); }
h3 { text-align: left; font-family: "Garamond"; color: rgb(0,150,136); }
h4 { text-align: left; font-family: "Garamond"; color: rgb(0,150,136); }
h5 { text-align: left; font-family: "Garamond"; color: rgb(0,150,136); }
h6 { text-align: left; font-family: "Garamond"; color: rgb(0,150,136); }
blockquote { text-align: left; font-family: "Garamond"; color: rgb(0,150,136); }
h1.title { }
h2.author { }
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
